<ion-tabs (ionChange)="tabChanged()">
  <ion-tab label="Home" icon="bluetooth" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Terminal" icon="code-working" [disabled]="!terminal.deviceService.isReady" href="/tabs/(terminal:terminal)">
    <ion-router-outlet name="terminal"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Settings" icon="settings" [disabled]="!terminal.deviceService.isReady" href="/tabs/(settings:settings)">
    <ion-router-outlet name="settings"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
