<ion-header>
  <ion-toolbar>
    <ion-title>Modbus Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">BACK</ion-button>
      <ion-back-button text="BACK"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Slave</ion-label>
      <ion-input type="number" min="0" [(ngModel)]="slave" class="right-align">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Address</ion-label>
          <ion-input type="number" min="0" [(ngModel)]="address" class="right-align">
            </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select [(ngModel)]="objectType">
        <ion-select-option *ngFor="let option of ModbusOptions.ObjectType | enum" [(value)]="option.index">{{option.value}}</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- <ion-item>
      <ion-label>Format</ion-label>
      <ion-select [(ngModel)]="format">
        <ion-select-option *ngFor="let option of VariableFormat | enum" [(value)]="option.index">{{option.value | trim: '_'}}</ion-select-option>
      </ion-select>
    </ion-item> -->
  </ion-list>
  <ion-button expand="block" (click)="saveAndDismiss()">Save</ion-button>
</ion-content>
