// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.tab-btn-selected.sc-ion-tabbar-ios {
    --tabbar-ios-text-color-active: var(--ion-tabbar-text-color-active, #488aff) !important;
    --color-selected:var(--ion-tabbar-text-color-active, #488aff) !important;
    color: var(--tabbar-ios-text-color-active);
}

a.sc-ion-tab-button-md:hover {
    color: rgba(255, 255, 255, 0.9) !important;
}