<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button *ngIf="!ble.isScanning" color="dark" (click)="ble.startScan()" expand="full">Start Scan</ion-button>
  <ion-button *ngIf="ble.isScanning" color="dark" (click)="ble.stopScan()" expand="full">Stop Scan</ion-button>
  <ion-list>
      <ion-item *ngFor="let device of devices">
          <ion-button *ngIf="ble.selectedDevice != device.address" color="light" (click)="connect(device);">
            {{device.name}} 
          </ion-button>
          <ion-button *ngIf="ble.selectedDevice == device.address" color="primary" (click)="disconnect();">
            {{device.name}}
            <ion-icon name="checkmark-circle" item-right></ion-icon>
          </ion-button>
      </ion-item>
  </ion-list>
</ion-content>
<!-- 
<ng-template #connect>
  
</ng-template>
<ng-template #disconnect>

</ng-template> -->
